# dependencies
**/node_modules

# next.js
frontend/.next/
frontend/out/
frontend/src/app/fonts
frontend/public/
frontend/.firebase/
frontend/next-env.d.ts

# mailing
mailing/venv/
mailing/__pycache__/
mailing/.idea/

# misc
.DS_Store
**/.DS_Store
.idea/
**/.idea/
*.env.local
**/.env.local
.env
